<div class="row">
  <div class="col-md-4 col-sm-4">
    <h5> <%= current_user.username %> </h5>
    <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4> Channels </h4
    <%= render 'new_channel_form' %>
    <%= turbo_stream_from "channels" %>
    <div id="channels">
      <%= render @channels %>
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <h1>Container</h1>
  </div>
</div>